@font-face {
  font-family: "RebelTypeDog";
  src: url(../fonts/rebel-type-dog/RebelTypeDog-Regular.woff2),
  url(../fonts/rebel-type-dog/RebelTypeDog-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(../fonts/nunito-sans/NunitoSans-Light.woff2),
    url(../fonts/nunito-sans/NunitoSans-Light.woff);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(../fonts/nunito-sans/NunitoSans-Regular.ttf),
    url(../fonts/nunito-sans/NunitoSans-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(../fonts/nunito-sans/NunitoSans-SemiBold.woff2),
    url(../fonts/nunito-sans/NunitoSans-SemiBold.woff);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
