.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .main__title {
    display: none;
  }
  &__top {
    height: 100px;
    display: flex;
    .container {
      display: flex;
      align-items: center;
    }
  }
  &__logo {
    margin-right: 152px;
  }
  &__nav {
    display: flex;
    .header__logo {
      display: none;
    }
    .request-btn {
      display: none;
    }
  }
  &__nav-item {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__nav-link {
    color: #000;
    font-size: 16px;
    line-height: 20px;
  }
  .mobile-btn-wrapper {
    padding: 12px 20px;
    position: fixed;
    right: 10px;
    top: 0;
    border-radius: 0px 0px 0px 5px;
    z-index: -15;
    display: none;
  }
  .nav-mobile-btn {
    width: 37px;
    height: 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 6px;
    span {
      width: 24px;
      height: 3px;
      background: #000000;
      transition: 0.3s;
    }
    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(45deg) translateX(6px) translateY(5px);
          transition: 0.3s;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translateX(5px) translateY(-4px);
          transition: 0.3s;
        }
      }
    }
  }
  .request-btn {
    margin-left: auto;
    border: 1px solid #ff6b00;
    filter: drop-shadow(0px 4px 25px rgba(255, 107, 0, 0.3));
    border-radius: 52px;
    padding: 16px 51px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #ff6b00;
    margin-right: 58px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: #ffffff;
      background: #ff6b00;
    }
  }
  .header__swiper {
    background: #000;
    position: relative;
    max-width: 100%;
    width: 100%;
    flex: 1;
    overflow: hidden;
    background-image: url(../img/header/slider-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .swiper-wrapper {
      display: inline-flex;
      height: 100%;
    }
    .swiper-slide {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .swiper-button {
      position: absolute;
      width: 14px;
      height: 27px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      &-prev {
        left: 50px;
      }
      &-next {
        right: 50px;
        .swiper-arrow {
          transform: rotate(180deg);
        }
      }
    }
    .swiper-arrow {
      width: 14px;
      height: 27px;
    }
    .swiper-pagination {
      position: absolute;
      bottom: 88px;
      left: 50%;
      transform: translateX(-50%);
      .swiper-pagination-bullet {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 3px solid #ffffff;
        border-radius: 50%;
        margin-right: 13px;
        transition: 0.3s;
        &-active {
          background: #ffffff;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 123.9%;
    color: #ffffff;
    max-width: 740px;
    width: 100%;
    margin-bottom: 15px;
  }
  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 179.9%;
    color: #ffffff;
    max-width: 703px;
    width: 100%;
    margin-bottom: 20px;
  }
  .to-catalog-link {
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #ff6b00;
    padding: 16px 52px;
    border: 1px solid #ff6b00;
    filter: drop-shadow(0px 4px 25px rgba(255, 107, 0, 0.3));
    border-radius: 52px;
    transition: 0.3s;
    &:hover {
      background: #ff6b00;
      box-shadow: 0px 4px 25px rgba(255, 107, 0, 0.3);
      color: #ffffff;
    }
  }
}
.header.media {
  @media (max-width: 1630px) {
    .header__swiper {
      .container {
        padding-left: 80px;
      }
    }
  }
  @media (max-width: 1350px) {
    .header__logo {
      margin-right: 50px;
    }
  }
  @media (max-width: 1235px) {
    .header__logo {
      margin-right: 25px;
    }
    .header__nav-item {
      margin-right: 30px;
    }
    .request-btn {
      margin-right: 25px;
    }
  }
  @media (max-width: 1127px) {
    .header__logo {
      width: 160px;
    }
  }
  @media (max-width: 1106px) {
    .request-btn {
      padding: 10px 40px;
    }
    .to-catalog-link {
      padding: 10px 40px;
    }
    .mobile-btn-wrapper {
      z-index: 15;
      display: block;
    }
    .header__top {
      height: 60px;
      width: 100%;
      align-items: center;
      background: #ffffff;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1000;
      .request-btn {
        display: none;
      }
    }
    .header__nav {
      position: absolute;
      width: 100%;
      height: 100vh;
      background: rgb(255, 255, 255);
      top: 0;
      left: 0;
      z-index: 10;
      padding: 20px 0 0 0;
      flex-direction: column;
      align-items: center;
      transform: translateY(-100%);
      transition: 0.3s;
      &.active {
        transform: translateY(0);
        .header__logo {
          display: block;
        }
        .header__nav-item {
          opacity: 1;
        }
      }
      &-item {
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 24px;
        opacity: 0;
        transition-delay: 0.3s;
        transition-duration: 0.3s;
      }
      .header__logo {
        margin-bottom: 40px;
      }
      .request-btn {
        display: block;
        margin: 0 auto;
        margin-top: auto;
        margin-bottom: 85px;
      }
    }
  }
  @media (max-width: 860px) {
    .header__swiper {
      .container {
        padding-left: 15px;
        margin-top: -90px;
      }
      .swiper-button-prev {
        top: auto;
        left: auto;
        bottom: 115px;
        right: 110px;
      }
      .swiper-button-next {
        top: auto;
        bottom: 115px;
        right: 40px;
      }
      .swiper-pagination {
        bottom: 85px;
      }
      .swiper-pagination-bullet {
        border: 2px solid #ffffff;
        margin-right: 8px;
        width: 12px;
        height: 12px;
      }
    }
  }
  @media (max-width: 600px) {
    .header__title {
      font-size: 30px;
      line-height: 115%;
    }
  }
  @media (max-width: 500px) {
    .header__title {
      font-size: 25px;
    }
    .header__text {
      font-size: 14px;
      line-height: 165%;
    }
  }
  @media (max-width: 360px) {
    .header__logo {
      margin-right: 5px;
    }
    .mobile-btn-wrapper {
      right: 0;
    }
  }
}
.language {
  gap: 5px;
  z-index: 9;
  transition: 0.3s;
  position: relative;
  padding-right: 14px;
  width: 80px;
  height: 34px;
  // .dropdown-btn {
  //   position: absolute;
  //   width: 20px;
  //   height: 16px;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   right: -6px;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   transition: .3s;
  //   cursor: pointer;
  //   padding: 6px;
  //   transition: 0.3s;
  //   img {
  //     object-fit: cover;
  //     width: 100%;
  //     height: 100%;
  //   }
  // }
  &__icon {
    width: 34px;
    height: 34px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin-right: 9px;
    position: absolute;
    transform: translateY(115%);
    transition: .3s;
    .lang-name {
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -29px;
      display: inline-block;
      width: 20px;
    }
    &.language__img_active{
      transform: translateY(0);
    }
  }
  &__icon-ru {
    background-image: url(../img/svg/ru.svg);
  }
  &__icon-en {
    background-image: url(../img/svg/en.png);
  }
}
.dropdown-btn {
  position: absolute;
  width: 20px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  transition: .3s;
  cursor: pointer;
  padding: 6px;
  transition: 0.3s;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
