.partners {
  padding-top: 100px;
  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
  &__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1225px;
    width: 100%;
  }
  &__item {
    max-width: 295px;
    width: 100%;
    height: 196px;
    img{
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  .request-btn{
    display: block;
    margin: 0 auto;
  }
}
.partners.media{
  @media(max-width: 945px) {
    padding-top: 0;
    .partners__inner{
      width: 605px;
    }
  }
  @media(max-width: 634px){
    .partners__inner{
      max-width: 400px;
      width: 100%;
    }
    .partners__item{
      max-width: 100%;
      width: 100%;
    }
  }
}
